.mat-toolbar>span{
    margin: auto;
}

.balance {
    text-align: center;
    font-size: 3em;
}

.diagram{
    padding-top: 180px;
    padding-bottom: 200px;
    text-align: center;
  
}

.add{
    text-align: center;
}


