<app-saldo></app-saldo>

<div class="body">
  <mat-card >
    <mat-form-field class="addSpending">
      <mat-label>new Spending</mat-label>
      €<input digitOnly matInput (blur)="transformAmount($event)" [(ngModel)]="formattedAmount" placeholder="0.00" type="number"
        value="0.00">
    </mat-form-field>
  



    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" (dateInput)="setDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>




    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="Genral" (change)="setCategory($event.value)">General</mat-button-toggle>
      <mat-button-toggle value="Food" (change)="setCategory($event.value)">Food</mat-button-toggle>
      <mat-button-toggle value="Mobility" (change)="setCategory($event.value)">Mobility</mat-button-toggle>
      <mat-button-toggle value="Education" (change)="setCategory($event.value)">Education</mat-button-toggle>
      <mat-button-toggle value="Travel" (change)="setCategory($event.value)">Travel</mat-button-toggle>
      <mat-button-toggle value="Entertainment" (change)="setCategory($event.value)">Entertainment</mat-button-toggle>
    </mat-button-toggle-group>

    
    <mat-form-field appearance="fill" class="comment" (ngSubmit)="sendAdd()">
      <mat-label>Comment</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

  </mat-card>
  
  <mat-card class="add">
    <button mat-fab color="primary" id="btn_plus" (click)="sendAdd()">
      <mat-icon>add</mat-icon>
    </button> 
  </mat-card>



</div>

